
body{
    background-color:blanchedalmond;  
}

table,td,tr{
    border: 0;
    border-style:hidden;
}

.foto-profile img{
    border-radius: 50%;
}

.hello p1{
    font-family: sans-serif;
    font-size: 60px;
}
.hello p3{
    font-size: 40px;
}

.about{
    font-family: sans-serif; 
    font-size: 20px;
}

.icon img{
    text-align: center;
    position: relative;
    align-content:middle;
    border-radius: 50%;
}

.icon p {
    position:absolute;
    color:black;
}

.pic1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    display:flex;
    align-items:center;
    justify-content: center;
}

.pic2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: lightblue;
    display:flex;
    align-items:center;
    justify-content: center;
}

.pic3{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: yellow;
    display:flex;
    align-items:center;
    justify-content: center;
}